<div *ngIf="cardDeck.length < 78" class="container" >
	<img src="{{hostImages}}spinner.gif" width=50 />
</div>
<div id="work-container" class="container" *ngIf="cardDeck.length === 78" style="position: relative;">
	<div style="padding: 5px;">
		<span style="display: inline-block; vertical-align: middle;">
			<img id="logo-image-tag" src="{{logoImage.src}}">
		</span>
		<span style="display: inline-block; vertical-align: middle;">
			<div id="title-tag">Welcome to {{ title }}</div>
		</span>
	</div>
	<div *ngIf="!cardShuffleInProgress" id="shuffle-pick-buttons" style="height: 39px;">
			<h4 style="margin: 0px;">Shuffle cards (optional), pick three</h4>
			<button style="width: 70px;" (click)="startShuffleProcess()" [disabled]="buttonsDisabled">Shuffle</button>&nbsp;&nbsp;
			<button style="width: 70px;" (click)="setUpCardPickLayout()" [disabled]="buttonsDisabled">Pick</button>
	</div>
	<div *ngIf="cardShuffleInProgress" style="height: 39px; padding: 5px; color: #eeeeee;">
		<h4>Card shuffle in progress, please wait ...</h4>
	</div>
	
	<div id="svg-container">
		<svg id="svg-element" width="100%">
			<g id="g-center-static"></g>
			<g id="g-center"></g>
			<g id="g-text-arc"></g>
		</svg>
	</div>
	<div id="user-information">
		<div style="display: flex; justify-content: space-evenly;">
			<div *ngFor="let desc of cardDescriptions" style="text-align: left; padding: 0px 10px 0px 10px; font-size: 12px; width: 33%;">{{desc}}</div>
		</div>
		<!-- visible before question is posted -->
		<div  *ngIf="!questionPosted" style="margin: auto; width: 100%;">
			<div style="text-align: left; padding: 10px; clear: left;">
		  		<span style="display: block;"><i>Optional:</i><br/>Pose question(s) and/or supply any information that you feel would help to analyze this card group.</span>
		  		<textarea style="border: 1px solid #000000; width: 100%;" id="question" required rows="4" [(ngModel)]="question"></textarea>
		  	</div>
	  	</div>
		<div *ngIf="!questionPosted" style="margin: auto; width: 100%;">
			<div style="text-align: left; padding: 10px; clear: left;">
		  		<span style="display: block;">Please enter your e-mail address.</span>
		  		<input placeholder="email address" type="text" maxlength="50" style="width: 200px;" [(ngModel)]="email" (keyup)="onChange($event)" class="input-outline" />
		  		<span>&nbsp;</span>
		  		<button *ngIf="!questionPosted && emailValid" (click)="setEmail()" style="background-color: greenyellow; font-weight: bold;">Submit</button>
		  	</div>
	  	</div>
		<!-- visible after question is posted -->
		<div *ngIf="questionPosted && question" style="margin: auto; width: 100%;">
			<div style="text-align: left; padding: 10px; clear: left;">
		  		<span style="display: block;">Your question ...</span>
		  		<textarea disabled style="border: 1px solid #000000; width: 100%;" id="question" required rows="4" [(ngModel)]="question"></textarea>
		  	</div>
	  	</div>
		<div *ngIf="questionPosted" style="margin: auto; width: 100%;">
			<div style="text-align: left; padding: 10px; clear: left;">
		  		<span style="display: block;">You will be contacted by this e-mail address.</span>
		  		<input disabled type="text" max="30" size="30" [(ngModel)]="email" class="input-outline" />
		  	</div>
	  	</div>
	  	<div *ngIf="questionPosted" ><h3>Your request has been posted with the information above. You will receive a response within 24 hrs.</h3></div>
  	</div>
</div>